:root {
  /* Light mode variables */
  --primary-color: #ff6f61;
  --text-color: #121212;       /* Text color for light mode */
  --background-color: #fbfbfb; /* Background color for light mode */
}
  
@media (prefers-color-scheme: dark) {
  :root {
    /* Dark mode variables */
    --primary-color: #ff6f61;   /* Primary remains the same */
    --text-color: #fbfbfb;      /* Text color for dark mode */
    --background-color: #121212; /* Background color for dark mode */
  }
}
  
/* Apply the Inter font globally */
body {
  font-family: "Inter", sans-serif;
}
